<html>
  <head>
    <!--フォントの読み込み-->
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <h1>
      <span class="font_red">
        笑ゥ
      </span>
      <br class="visible-xs-block"><span>
        ふぁいなんしゃる<br class="visible-xs-block">ぷらんなぁ
      </span>
    </h1>
    <div class="balloon2">
      <p>私の名は喪黒<span class="font_yellow">金</span>造、人呼んで<br class="visible-xs-block">「笑ゥふぁいなんしゃるぷらんなぁ」。<br>私の取り扱う品物は<span class="font_red">富</span>、<br class="visible-xs-block"><span class="font_red">人間の夢</span>でございます。<br class="visible-xs-block">ホーホッホッ…<br><br>
      <p>この世は老いも若きも男も女も、<br class="visible-xs-block">貧乏人ばかり、<br>そんな皆さんの<span class="font_red">”財布”</span>をお埋め致します。<br><br><br class="visible-xs-block">さて、今日のお客様は…</p>
    </div>
    <br><%= image_tag 'maxresdefault.jpg',width: '25%', height: '25%' %>
    <br><%= link_to "相談する", new_user_path, class: 'btn btn-default btn-lg' %>
  </div>
  </body>
</html>
