/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background-color: #111111;
  text-align: center;
  color :#fff;
}

 h1{ 
  font-family: "Hannari";;
  font-weight: 1000;
}
.font_red {
  color: #F44336;     /* 文字色指定 */
}

.font_yellow {
  color :	#FFD700;     /* 文字色指定 */
}
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  background: #111111;
  border: solid 3px #fff;
  box-sizing: border-box;
  border-radius: 30px;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #111111;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #fff;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}
li{
  text-align: left;
  .image_list{
    float: left;
  }
  .image_arrow{
    margin-right: 20px;
    margin-left: 20px;
  }
  .money{
    font-size: xxx-large;
  }
}

.balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  background: #111111;
  border: solid 3px #fff;
  box-sizing: border-box;
  border-radius: 30px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
}